@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  /* TODO: add media query for a max-width of 768px */
  @media screen and (max-width <= 768px) {
  
    .flex-item, .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
     min-height: 150px;
    }
  
    .page-section {
      display: flex;
      flex-direction: column; 
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 1; 
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  
    .page-section > div {
      text-align: center;
    }
  }